# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\aguir\Downloads\1-Build-Modular-Interfaces-with-Components\1 - Build Modular Interfaces with Components\2 - Setting up with Create React App\scoreboard\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
